.contact-background {
  background-image: url('https://img.freepik.com/free-photo/detailed-structure-marble-natural-pattern-background-design_1258-78262.jpg?ga=GA1.1.2076563905.1722162675&semt=ais_user'); /* Path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* Ensure it covers the full viewport height */
  padding: 20px;
}

.contact-page {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #eca0a0a3; /* Pink color background with transparency */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contact-page h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #255e9b;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.contact-icon {
  font-size: 1.5rem;
  color: #255e9b;
}

.contact-item h2 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.contact-item p {
  margin: 0;
  font-size: 1rem;
  color: #555;
}

.contact-form-container {
  margin-bottom: 30px;
}

.contact-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #255e9b;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  padding: 10px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  background-color: #255e9b;
  color: #fff;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #003d6d;
}

.social-media {
  text-align: center;
}

.social-media h2 {
  margin-bottom: 20px;
  color: #007bff;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  font-size: 2rem;
  color: #007bff;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #0056b3;
}
