body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(39, 37, 37);
  color: white;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

h2 {
  text-align: center;
  color: green;
  font-size: 2rem;
}

label {
  font-size: 20px;
  display: inline-block;
  width: 100px;
  margin: 4px;
}

.container {
  margin-left: 20px;
  padding-left: 300px;
}

input {
  width: 400px;
  padding: 5px;
  margin: 4px;
}

button {
  background-color: green;
  border: none;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 8%;
}

.add-btn {
  margin-left: 200px;
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: grey;
  font-size: 20px;
  font-weight: bold;
}

.dateAmt {
  margin-bottom: 20px;
}

.tableList table, .tableList tr, .tableList td {
  border: 1px solid white;
  margin-top: 20px;
  padding: 7px;
  width: 540px;
  border-collapse: collapse;
  font-size: 18px;
}

#delExp {
  background-color: red;
  color: white;
  border: none;
}
