.login-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.login-dialog-container {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.login-dialog-image {
  width: 300px;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}


.login-dialog-content {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.login-dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-dialog-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #1d7f3b;
}

.login-dialog-close-icon {
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.login-dialog-close-icon:hover {
  color: #1d7f3b;
}

.login-dialog-form {
  display: flex;
  flex-direction: column;
}

.login-dialog-input-group {
  margin-bottom: 15px;
}

.login-dialog-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-dialog-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-dialog-input:focus {
  outline: none;
  border-color: #1d7f3b;
  box-shadow: 0 0 5px rgba(29, 127, 59, 0.5);
}

.login-dialog-password-container {
  position: relative;
}

.login-dialog-eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  transition: color 0.3s;
}

.login-dialog-eye-icon:hover {
  color: #1d7f3b;
}


.login-dialog-error {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}


.login-dialog-button {
  background-color: #216e4f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}


.login-dialog-footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login-dialog-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.login-dialog-link:hover {
  text-decoration: underline;
  color: #0056b3;
}


/* Login Overlay */
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Login Container */
.login-container {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Login Image */
.login-image {
  width: 300px;
  /* height: auto; */
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

/* Login Dialog */
.login-dialog {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Login Header */
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.login-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #1d7f3b;
}

.login-close-icon {
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.login-close-icon:hover {
  color: #1d7f3b;
}

/* 
.login-form {
  display: flex;
  flex-direction: column;
}

.login-input-group {
  margin-bottom: 15px;
}

.login-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.login-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-input:focus {
  outline: none;
  border-color: #1d7f3b;
  box-shadow: 0 0 5px rgba(29, 127, 59, 0.5);
}

.login-password-container {
  position: relative;
}

.login-eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #777;
  transition: color 0.3s;
}

.login-eye-icon:hover {
  color: #1d7f3b;
}


.login-error {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}


.login-button {
  background-color: #216e4f;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
 
}


.login-footer {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login-link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.login-link:hover {
  text-decoration: underline;
  color: #0056b3;
} */